.navbar-default {
   background-color: #1abc9c;
   border-color: #16a085;
   border-radius: 0px;
  }

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-nav>li>a{
	color: #fff;
}
body{
	background-image: url(../img/subtle_grunge.png);
}
.my_pic{
	width: 550px;
	height: 510px;
}